.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.SubmitButton {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.SubmitButton:hover {
  background-color: #0056b3;
}

.AddToCartButton {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #ec4547;
  color: white;
  border: none;
  border-radius: 5px;
}

.AddToCartButton:hover {
  background-color: #9b3133;
}

.BuyNowButton {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #2cb37e;
  color: white;
  border: none;
  border-radius: 5px;
}

.BuyNowButton:hover {
  background-color: #258860;
}
